@import "tailwindcss";
/* globals.css or tailwind.css */
html {
  transition: background-color 0.3s, color 0.3s;
}

body {
  background-color: var(--bg-color);
  color: var(--text-color);
}

body[data-theme='dark'] {
  --bg-color: #1a202c;
  --text-color: #f7fafc;
}

body[data-theme='light'] {
  --bg-color: #ffffff;
  --text-color: #1a202c;
}